# pixi environments
.pixi/*
!.pixi/config.toml

# Python cache and coverage files
__pycache__/
*.py[cod]
.coverage
.coverage.*
htmlcov/

# Swap files
*.swp
*.swo
*~

# Data and output files
*.csv
*.npy
*.data
*.out
example/
configs/sweep
ground_states
logs

# Specific configuration files
configs/Rb87_soc_lattice_two_components_lattice_ramp_1d_hom.toml
configs/Rb87_soc_lattice_two_components_lattice_ramp_fz_14Hz_1d_hom.toml
# output directory
output
